/******* EXAMPLE A *******/

.rating-a .br-widget {
    height: 52px;
}

.rating-a .br-widget a {
    display: block;
    width: 7%;
    padding: 5px 0 5px 0;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
    text-align: center;
}

.rating-a .br-widget a.br-active,
.rating-a .br-widget a.br-selected {
    background-color: orange;
}

.rating-a .br-widget .br-current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}


/******* EXAMPLE B *******/

.rating-b .br-widget {
    height: 52px;
}

.rating-b .br-widget a {
    display: block;
    width: 7%;
    padding: 5px 0 5px 0;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
    text-align: center;
}

.rating-b .br-widget a.br-active,
.rating-b .br-widget a.br-selected {
    background-color: orange;
}

.rating-b .br-widget .br-current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}





/******* EXAMPLE C *******/

.rating-c .br-widget {
    height: 52px;
}

.rating-c .br-widget a {
    display: block;
    width: 7%;
    padding: 5px 0 5px 0;
    height: 30px;
    float: left;
    background-color: #e3e3e3;
    margin: 1px;
    text-align: center;
}

.rating-c .br-widget a.br-active,
.rating-c .br-widget a.br-selected {
    background-color: orange;
}

.rating-c .br-widget .br-current-rating {
    font-size: 20px;
    line-height: 2;
    float: left;
    padding: 0 20px 0 20px;
    color: #646464;
}

/******* EXAMPLE F *******/

.rating-f .br-widget {
    height: 24px;
}

.rating-f .br-widget a {
    background: url('../img/star.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
}

.rating-f .br-widget a:hover,
.rating-f .br-widget a.br-active,
.rating-f .br-widget a.br-selected {
    background-position: 0 24px;
}
