body{padding-top:78px; background:#f4f4f4; font-size: 13px;}
a {color: #62AF00;}
a:hover, a:active{color: #C83A3A;}
h3 {font-size: 18px;}
h4 {font-size: 14px;}
.error, #error{color: #b94a48;}
.breadcrumb {background-color: #FFFFFF;}
.menuu{text-align:left; }
.menuu a:hover{background: #fff; border-color:#62AF00; color:#62AF00}
.menuu a {background:#c83a3a; color:#fff;text-decoration: none; margin-right: 0.5em; display: inline-block;padding: 8px;height: 2em;width: 2em;border-radius: 50%;text-align: center;border: 4px solid #fff;float: left;}
.menuu a i{font-size:2em}
.menuu a span {display:none}
#postcode {width: 50%;max-width:120px;padding:12px;margin:0}
.headerSection{background: #e4dcd2; padding:8px 0}

.carousel-caption {position: absolute;right: 0;bottom: auto;left: auto;padding: 15px;top: 0;width: 38%;right: 0;color: #2B2B2B;background:0}
.nav > li > a{border:1px solid transparent}
.accordion-group{border: 1px dashed #CCC;}

.cntr{text-align:center}
.navbar .divider-vertical {margin: 0px;}
.dropdown-menu .divider {margin: 0px 1px;}

/* Home page main Carousel Section ----------------------------------------*/
.carousel-control {top: 49%;}
.carousel-caption h1 {font-family: 'Fjalla One', sans-serif; padding-top:2%; font-size: 44.5px; line-height: 1em;color: #000; margin-bottom: 0;}
.carousel-caption h1 span{font-family: 'Julius Sans One', sans-serif;}

.carousel-caption p {line-height: 1.5em;color: #9f9d9c;font-size: 173%;}
.carousel-caption ul {line-height: 1.5em;font-size: 120%; padding-right:10%}
.carousel-caption .btn{font-size:34px; padding:0 28px; line-height:1.8em}


/* Product Tag and pricing label---------------------------------------------- */
.newTag.tagRight {top: -4px; right: -4px; background-position: -91px 0;left: auto;}
.saleTag.tagRight {top: -4px;right: -4px;background-position: -273px 0;left: auto;}
.newTag{background-position:0 0}
.saleTag{background-position: -182px 0;}
.newTag, .saleTag { position: absolute;z-index: 11;width: 91px;height: 91px;background-image: url(../img/tag.html); background-repeat: no-repeat;top: -4px;left: -4px;}

.priceTag {display:block; right: 50%;margin-right: -44px;background: #f981ad; border-radius: 50%; font-size: 15px; bottom:500px; position: absolute; color: #fff;height: 80px;width: 80px;line-height: 1.2em; font-weight: bold;text-align: center;border: 6px solid #efefef;-webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);-moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);z-index:111}
.priceTag  small{font-size:12px}
.price{color:f981ad; padding:0 0 0 4px}
.oldPrice {font-size: 13px;line-height: 1.5em;text-decoration: line-through;display: block; }
.newPrice {display: block;font-size: 20px;line-height: 1.5em;color: #fff;}


/* Features products carousel section --------------------------------------- */
#featuredProduct .well{position:relative}
#featuredProduct .item {padding: 18px 18px 18px 0;margin-right: -18px;}
#featuredProduct .carousel-inner {margin: 0 -36px 0 0;padding-right: 18px;}
#myCarouselOne .carousel-control {top: -20px;}
#myCarouselOne h5{color:#000}

#featuredProduct .carousel-control.left {right: 50px;left: auto;}
#featuredProduct .carousel-control.right {right: 0;}

/* Footer Follow us icon --------------------------------------------------- */
/* =-------------------------------- */
#list li, .well {position: relative;}
.detailNprice {font-weight: bold;text-align: center;height: 64px;padding: 18px 0 8px;border-bottom: 1px solid transparent;}
#list li .well:hover .detailNprice {border-bottom: 1px solid #eee; }

.detailNprice strong{color:#3c3c3c; font-weight:normal; font-size:16px}
.detailNprice span {font-weight:normal;color: #fe5252; font-size: 16px;}
.dtl {padding: 3px 0;line-height: 2em;display: block;text-align: right;text-decoration: underline;}

.addToCart { background:#fe5252; border:2px solid #EFEFEF;
border-radius:24px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25); display:block;
color: #FFFFFF; font-size: 13px; font-weight: bold; float:left;
height: 34px; line-height: 34px; text-align: left; width: 24px; text-decoration:none; overflow:hidden; padding:0 11px 0 6px
}

.addToCart:hover{background:#F72A03; text-decoration:none; color: #FFFFFF; width:auto; min-width: 24px;}

.buyNview{margin:0;}
.addToCart i {height: auto;font-size: 21px;line-height: 21px;width: auto;text-decoration: none;padding: 0;margin: 0;}
h3 .oldPrice{display:inline; padding-right:18px;}
.detailNprice  .oldPrice {font-size: 11px;padding-top: 4px; color:#888}
.splitter li a{background:#F72A03; color:#fff; border-radius:8px; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);}
.splitter li  a:hover{background:#fff; color:#F72A03; }
/* social */
.followUs {list-style-type: none;margin: 0;position: relative;z-index: 9;}
.followUs li {display:inline-block;margin: 0 6px 0 0;}
.followUs li a.mail {background-color: #a8c000;background-position: -39px 0;}
.followUs li a {display: block;width: 39px;height: 39px;background: #fa5757 url('../img/icons.png') 0 0 no-repeat;-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}
.shipping i {font-size: 92px;height: auto;width: auto;line-height: 92px;float: left;padding-right: 14px;}
.shipping span {font-size: 20px;line-height: 35px;}
#scn  .well{min-height:238px}
#myCarousel i{font-size:28px; color:#F72A03; margin:4px}


.followUs li a.facebook {background-color: #3b5998;background-position: -117px 0;}
.followUs li a.twitter {background-color: #00c3f4;background-position: -78px 0;}
.followUs li a.dribble {background-color: #f977a6;background-position: -156px 0;}
.followUs li a:hover {background-color: #322c29;}
#topMenu a{font-size:11px; padding:0 8px 0 0; float:right}
#client {text-align:center}
.displayImg img{min-width:100%}
.carousel-caption p.carouselTxt{color:#c51329; text-align:center; font-size:2em;}
.large{font-size:3em; font-family: 'Krona One', sans-serif; }
.clothing{color:#404040}
#myCarouselCloth .carousel-caption{width:53%}
[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: auto;
height: auto;
margin-top: 1px;
line-height: 1.5em;
vertical-align: text-top;
}


.clr{clear:both;}
.menuItem {border-bottom: 1px solid #eee;margin-bottom:8px;background: #fff;}
.feedbackBtnR {background: #FF7A00;display: block;outline: medium none;position: fixed;right: -7px;top: 20%;width: 28px;color: #fff;padding: 8px;}
.feedbackBtnR:hover{right: 0; color:#fff; text-decoration:none}

.loginBtnL {background: #FF7A00;display: block;outline: medium none;position: fixed;left: -7px;top: 20%;width: 28px;color: #fff;padding: 8px;}
.loginBtnL:hover{left: 0; color:#fff; text-decoration:none}


.notice-title {
background-color: #efefef;
background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd), to(#eaeaea));
background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eaeaea',GradientType=0 );
border-bottom: 1px solid #CDCDCD;
}

.notice {padding: 12px 15px;}
.box {background:#fff;border: 1px solid #ccc;position: relative;margin:0 0 18px;border-radius:3px;overflow:hidden;}
.affix .notice { padding: 8px;}
.box .table th{border-top:0}
.fName{text-transform:capitalize}
.navbar-inverse .brand {color: #fff;}
.carousel-caption {width: 48%; padding:0; }
/* #mainCarousel img{max-height:240px} */
#myCarouselOne{text-align:center;}
.hiddenRow{visibility:hidden;}
/* cart---------------------------------------------------  */
#cart .item-thumb img{max-height:48px}
.itemRow {min-height: 50px;border-bottom: 1px solid #ccc;padding: 4px 0;}
.itemRow div{ display:inline;}
#cart table{width:100%}
.item-name, .item-price{ font-size: 13px; line-height:1.5em}

.item-gradient{ font-size: 13px; }
.item-custom .btn-mini {line-height: 1.8em;padding: 4px 5px;margin: 0;font-weight: bold;font-size: 13px;}
.item-custom span.btn-mini {font-size: 13px;line-height: 1.9em;}
.totalPrice{ display:block; padding:8px 0; border-bottom: 1px solid #ccc; margin-bottom:8px; }
.simpleCart_grandTotal{float:right; display:block; font-weight:bold; }
.headerRow{font-size:13px;}
.headerRow th.item-name{width:50%}
.headerRow th{text-align:left; color:#000}
.headerRow th.item-custom{text-align:right; }
.tab-pane.fade{display:none;}
.tab-pane.fade.active{display:block;}
.notice-title {padding: 8px 18px;line-height: 38px;font-size: 16px;min-height:38px;margin: 0;height: auto;}

/*  Model -------------------------------------------------*/
.modal-body {position: relative;max-height: 500px;}
#editItemForm{position:relative}
#editBgImg{position:absolute; height:100%; top:0; left:0; width:100%; opacity:0.4; z-index:-1}

.nav-tabs {border-bottom: 2px solid #c83a3a;}
#myTab.brandBg .active a, #myTab.brandBg >li>a:hover {background: #fff; color: #728100; }
#myTab.brandBg a {line-height: 1.8em;color: #FFF;}
#myTab a{ border:0; border-radius:0}
th.lst{text-align:center}
.lst h5{text-align:right;}
.order{line-height:1.5em; padding:18px 28px; font-size:42px;}
.order small{color:#fff; display:block; line-height:1em;}
#mainCarousel .brandColor{min-height:368px}
.brandBorder{border:1px solid #eee; padding: 8px;}
.brandBg {background: #728100; color: #fff; border: 0;}

.footer{background:#292929; color:#fff}
#footerMenu{padding:8px 0;  text-align:center;}
#footerMenu a{padding:0 8px;}
.dNd{font-size:11px; text-decoration:underline}
#poweredBy {padding:6px; display:inline-block;}
#poweredBy img{max-height:21px;}
#myaccTab .nav-tabs>li a{margin:0}
#myaccTab .nav-tabs>li {border:1px solid #ccc;border-radius: 4px 4px 0 0;margin-right:4px;overflow:hidden;z-index:999;border-bottom:0;position:relative;}
#myaccTab .nav-tabs>li.active {border:1px solid #c83a3a;}
#featuredProduct h5 {min-height: 54px; text-align:center;}

/* Controll---------- */
.loginBlk {width: 374px; margin: 50px auto 0; text-align: center;}
.loginBlk  .well{-webkit-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);}
.adminLogin{max-width:256px; margin:0 auto;}
.loginBlk input {line-height:34px; height: auto;}
.loginBlk .add-on {border-radius: 4px 0 0 4px;line-height: 34px;height: 34px;font-size: 33px;}
.colasp{display:none;}
.colaspCntrl:hover .colasp{display:block;}
.table tbody tr.error .table td ,
.table tbody tr.success .table td {background-color: #fff;}

#myCarousel img{width:100%}


.lang{float:right}
#featuredProduct .item_name {min-height: 64px;overflow: hidden;text-align: center;padding: 8px 8px 0;max-height: 64px;margin: 0;display: table;vertical-align: middle;}
.displayImg img {min-width: 100%;max-height: 100px; min-height: 100px;}
.nm{margin:0; line-height:1.5em}
h1 #currentOrder{font-size:150px!important; line-height:1em;}
#errorM,#errorI, #errorE{display:none}
#featuredProduct .well {min-height: 200px; padding: 0;border: 0;border-radius: 0;}
/* new css */

#featuredProduct .well {background: #fff;border-radius: 8px;overflow: hidden; border: 1px solid #ccc;}
.bg .well {background: #fff;border-radius: 14px;overflow: hidden;}
.orderBtn {background-color: #fff; padding: 12px 18px; text-align:center; color: #62AF00; font-weight: bold; display:block}
.orderBtn:hover {background-color: #c83a3a; color: #fff;}
.well, .well:hover {border: 1px solid #ccc; background:#fff; overflow:hidden;}
.userName{text-transform:capitalize}
.sidebar .notice-title {background: rgb(255, 133, 0);color: #fff;}
.btn-success {color: #fff;text-shadow: 0 -1px 0 rgba(0,0,0,0.25);background-color: #5bb75b;background-repeat: repeat-x;border-color: #5bb75b;filter: inherit;background-image: none;}
footer {padding:18px;text-align: center;}
#footer {background: #FFFFFF;min-height: 100px;}
#footer .footer-top {padding-top: 30px;padding-bottom: 15px;background-color: #f8f8f8;}
#footer .footer-center {padding-top: 30px;padding-bottom: 15px;}
#footer .column ul li a {background: none;padding-left: 0;text-transform: none;}
#footer .column a {text-decoration: none;color: #3b3b3b;-webkit-transition: padding 0.5s ease 0s;transition: padding 0.5s ease 0s;}
#powered {clear: both;background: #292929;padding: 30px 0;color: #FFFFFF;}
#checkOutBtn{text-align:center}
#cartInfo {display: none;}
#cartInfo {position: fixed;z-index: 999;background: #c83a3a; width: 100%; left: 0; border-top: 1px solid #fff; bottom: 0;padding: 8px 0;text-align: center;}
#specialMessage{min-width:97%; min-height:40px}

.mobile{display:block}
.upperFooter{background:#fff; text-align:center; color: #FF007A; font-size:13px; padding:28px 0 18px}
.upperFooter img{max-height:115px;}
.text-primary-theme {color: #7db641;}
.media-heading {margin: 0 0 5px;}
.text-danger-theme {color: #FF007A;}
.media {background-color: #efefef;border: 1px solid #efefef;color: #939393;padding: 10px;}
.iconbox {background-color: #C83A3A; color: #fff;text-align: center; border-radius:50%; border: 3px solid #C83A3A;margin-right: 7px;float: left;height: 26px;width: 26px;}
#footer{font-size:12px; }
#footer ul li {margin-bottom: 4px;padding-bottom: 6px;padding-top: 0;overflow: hidden;line-height: 2em;}
#footer ul, #footer ol {list-style: none outside none;margin: 0;padding: 0;}
.form-group {display: inline-block;margin-bottom: 0;vertical-align: middle;}
.middleFooter {border-top: 1px solid #DDDDDD;padding: 28px 0;}
#myTabContent img {height: 100px;width: 100px; border-radius:2px;}
#myTabContent h4 {font-size: 13px;margin: 0;padding-top: 15px; color:#c83a3a}
#myTabContent .well {border: 1px solid #ccc;background: #fff;overflow: hidden;padding: 4px;}

#myaccTab .nav-tabs>li.active{border: 1px solid #ccc;border-radius: 4px 4px 0 0;margin-right: 4px;overflow: hidden;z-index: 999;border-bottom: 0;position: relative;background: #fff;margin-bottom: -2px;}
.headerSection{position:fixed; top:0; width:100%; left:0; background:#e4dcd2; z-index: 999;  border-bottom: 1px solid #CCCCCC;}
.yourCart{background:#FF8500; color:#fff}
.onlyMob, .menuTgl{display:none}
#myTabContent .btn-warning {border-radius: 62%;height: 28px;line-height: 28px;}

/* Responsive */
@media (max-width: 480px){

#featuredProduct .item_name {min-height: 64px;overflow: hidden;text-align: center;padding: 8px 8px 0;max-height: 64px;margin: 0;display: table;vertical-align: middle;}
.displayImg img {min-width: 50%; max-width: 50%; float:left; max-height: 250px; min-height: 100px;}
.orderBtn{background-color: #62AF00; font-size:1.5em; color: #fff; clear:both}
#featuredProduct .well {
min-height: 00px;}
#myTabContent img {height: auto; width:100%; background: #e5e5e5; padding:0;}
#myTabContent h4 {font-size: 16px; margin: 0; line-height: 1.5em;}
#myTabContent .well {border: 1px solid #ccc; background: #fff; overflow: hidden; padding:8px;}

#myTab.brandBg a {line-height: 1.4em;}
.middleFooter{display:none;}
body {padding-top: 50px;}
.notice-title {padding: 1px 18px;}
.menuTgl{display:block; position:absolute; top:0; right:-44px; border:10px solid #FF8500; background: #FF8500}
.menuTgl i{font-size:2em; color:#fff; }
.closeMenu{float:right}
.sidebar {left: 0; position: fixed; z-index: 9999; }
.onlyMob{display:inline-block}
#myTabContent img{max-height:100%;}
#myaccTab .nav-tabs>li.active {border-radius: 4px; margin-right: 0;  border:1px solid #ccc; margin-bottom: 4px;}
#myaccTab .nav-tabs>li {float: none; border-radius: 4px; text-align: left; overflow:hidden; border:1px solid #ccc; margin:0 0 4px}
#myaccTab .nav-tabs>li a {text-align: left;}
.middleFooter {margin: 0 -18px;padding: 18px;background: #fff;}
#powered {clear: both;background: #292929;padding: 0 18px 61px;color: #FFFFFF;margin: 0 -20px;}
.carousel-control {top: 44%;}
.carousel-caption {width: 100%;}
#cartInfo {display: block;}
.mobile{display: none;}
.menuu  {text-align:center}
.menuu a {float: none; border: 2px solid #fff; height: 1.5em; width: 1.5em;}
.menuu a i {font-size: 1.5em;}
.headerSection {top: 0;width: 100%;text-align: center;background: #e4dcd2;padding: 4px;}
body .pull-right{float:none}
#postcode {width: 50%;padding: 11px;text-align: center;margin: 8px auto;max-width:120px;}
.footer {margin: 0 -18px;}
h2 {font-size: 1.5em;}
h3 {font-size: 1em;line-height: 1.5em;}
.notice-title {font-size: 1em;line-height: 2.5em;}
}

@media (max-width: 979px){
.brandBorder h3 {font-size: 16.5px;}
.brandBorder h4 {font-size: 14.5px; margin: 0;}
}
@media (max-width: 767px){
#logo {padding: 8px 0 4px;}
.lang{float:none}
.feedbackBtnR,.feedbackBtn{display:none}
.carousel-caption{display:none}
.txtRaling{text-align:center;}
#myTabContent *{text-align:center}
#cartInfo .simpleCart_grandTotal{float:none; display:inline}
#cartInfo{display:block}
.followUs  {float:none}
.followUs li {float: none;display:inline-block;margin: 0 6px 0 0;}
#checkOutWrapper  .btn{display:block; margin-bottom:18px;}
.nav .btn{display:block;}
.carousel-control {display:none}
#myCarousel{margin-bottom:0}
.carousel-caption { font-size:14px}
.carousel-caption p{ font-size:14px; text-align:center; }
.carousel-caption li{ font-size:12px; }
.carousel-caption {width: 100%;padding: 0;}
.carousel-caption h1{text-align:center; font-size:1.5em}
}



