<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>useremail</param-name>
        <param-value>swingle8@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>Devel@per</param-value>
    </context-param>
 
    
    <context-param>
        <param-name>url</param-name>
        <param-value>jdbc:mysql://localhost:3306/res_db</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>driver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>root</param-value>
    </context-param>
    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FetchImage</servlet-name>
        <servlet-class>servlets.FetchImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalAmount</servlet-name>
        <servlet-class>cart.TotalAmount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShoopingCartA</servlet-name>
        <servlet-class>cart.ShoopingCartA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlaceOrder</servlet-name>
        <servlet-class>servlets.PlaceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemImage</servlet-name>
        <servlet-class>servlets.ItemImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartToDatabase</servlet-name>
        <servlet-class>servlets.CartToDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAddRestraurant</servlet-name>
        <servlet-class>servlets.RequestAddRestraurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginCheck</servlet-name>
        <servlet-class>servlets.LoginCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAction</servlet-name>
        <servlet-class>servlets.AdminAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddRestaurant</servlet-name>
        <servlet-class>servlets.AddRestaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMenu</servlet-name>
        <servlet-class>servlets.AddMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRedirect</servlet-name>
        <servlet-class>servlets.AdminRedirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItem</servlet-name>
        <servlet-class>servlets.AddItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantAction</servlet-name>
        <servlet-class>servlets.RestaurantAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUserRatings</servlet-name>
        <servlet-class>servlets.VerifyUserRatings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>servlets.Feedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchImage</servlet-name>
        <url-pattern>/FetchImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalAmount</servlet-name>
        <url-pattern>/TotalAmount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShoopingCartA</servlet-name>
        <url-pattern>/ShoopingCartA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlaceOrder</servlet-name>
        <url-pattern>/PlaceOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemImage</servlet-name>
        <url-pattern>/ItemImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartToDatabase</servlet-name>
        <url-pattern>/CartToDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAddRestraurant</servlet-name>
        <url-pattern>/RequestAddRestraurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginCheck</servlet-name>
        <url-pattern>/LoginCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAction</servlet-name>
        <url-pattern>/AdminAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRestaurant</servlet-name>
        <url-pattern>/AddRestaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMenu</servlet-name>
        <url-pattern>/AddMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRedirect</servlet-name>
        <url-pattern>/AdminRedirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItem</servlet-name>
        <url-pattern>/AddItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantAction</servlet-name>
        <url-pattern>/RestaurantAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUserRatings</servlet-name>
        <url-pattern>/VerifyUserRatings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

<error-page>
        <error-code>500</error-code>
        <location>/index.jsp?message=you are trying to direct a wrong page.</location>
    </error-page>

</web-app>
